<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title has-text-centered">Admin Dashboard</h1>

        <div class="buttons is-centered">
          <a href="/register_student" class="button is-link"
            >Register New Student</a
          >
          <a href="/train_model" class="button is-warning">Train Model</a>
          <a href="/view_attendance" class="button is-info">View Attendance</a>
          <a href="/take_attendance" class="button is-success"
            >Take Attendance</a
          >
          <!-- Add this button -->
          <a href="/logout" class="button is-danger">Logout</a>
        </div>

        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="notification is-success">{{ messages[0] }}</div>
        {% endif %} {% endwith %}
      </div>
    </section>
  </body>
</html>
